@charset "utf-8";
/* CSS Document */


body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.bgImage {
    background: url(images/rawpixel-800834-unsplash.jpg), rgba(0,0,0,0.30);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

header {
    z-index: 3;
    background: #fff;
    margin: 0;
}
#mobile-text{
        display: none;
    }

.pizzaImages {
    position: relative;
    top:50px;
    float: left;
    width: 30%;
    left: 25px;
}

.pizzaImages img {
    width: 200px;
    padding: 5px;
    margin: 5px auto;
    background:#fff;
}

.tform-15 {
    transform: rotate(-15deg);
}

.tform-5 {
    transform: rotate(5deg);
}

/*Orders*/
.order {
    position: relative;
    background: #fff;
    float: right;
    width: 45%;
    height: 100%;
    right: 25%;
    top:0;
    border: thin solid #000;
    border-top: none;
}

.order div {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: thin solid #000;
    margin: 20px 0;
}

.order div:last-child {
    border: none;
}

.order div h4 {
    position: relative;
    left: 1%;
}

.order div ul {
    display: block;
}

.order div li {
    position: relative;
    display: inline-block;
}


.order div li input {
    margin: 0 10px;
}

/*Total Section*/
#total {
    position: fixed;
    top:225px;
    right: 4%;
    clear: both;
    background: #fff;
    float: right;
    width: 300px;
    height: 410px;
    margin: 5px 0 100px 0; 
    padding: 5px;
    box-shadow: -1px -1px 15px 1px #555;
    border-radius: 5px;
 }

#total p {
    position: relative;
    float: right;
    text-align: right;
    margin: 10px 0;
}
#basePrice {
    position: relative;
    float: left;
    width: 100%;
    right: 0;
}

#basePrice span {
    float: right;
}

#basePrice p{
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0px;
    width: 100%;
    text-align: left;
    border: thin #000 solid;
    border-top:none; 
}

#basePrice p:first-child{
    border-top: thin #000 solid;
}
#placeOrder {
    position: relative;
    clear: both;
    background: #fff;
    float: right;
    width: 25%;
    right: 5%;
    margin: 15px 0; 
    padding: 5px;
}

#placeOrder button{
    float: right;
    width: 100%;
}

@media (max-width: 450px) {
    .bgImage{
        background-color: #fff;
    }
    #mobile-text{
        display: inline;
    }
    .order{
        width: 100%;
        left: -50px;
        margin-bottom: 440px;
    }
    #total{
        top: 180px;
    }
}

@media (max-width: 800px) {
    .pizzaImages img{
        display: none;
    }
    .order{
        width: 90%;
    }
}

@media only screen and (max-width: 1395px) {
    .pizzaImages img:last-of-type{
        display: none;
    }
}