/* CSS Document */

/* Typekit */
@import url("https://use.typekit.net/yme8pob.css");
/* "acumin-pro" & "halyard-display" */

/* Colors */
/* Logo Red:  #C10505 */

/* START WHOLE PAGE STYLE */

html, body {
    position: relative;
    background: #ffffff;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
    word-wrap: normal;
 }

h2 {
    color: #444444;
    margin: 0;
    padding: 0;
    height: 50px;
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-family: "halyard-display",sans-serif;

}

header, main, footer {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

/* END WHOLE PAGE STYLE*/

/* START HEADER STYLE */

header {
    position:fixed;
    background: #ffffff;
    box-shadow: 1px 1.5px 1px 0.5px #888888;
    z-index: 100;
}

#logo, #logo:visited {
    float: left;
    width: 100px;
    padding: 0 0 10px 15px;
    transition: linear 0.3s;
}

#logo:hover {
    float: left;
    width: 100px;
    padding: 0 0 10px 15px;
    transform: scale(1.02);
}

nav {
    float: right;
    background: rgba(0,0,0,0.00);
}

nav ul {
    float: right;
    margin: 0;
    padding: 0 20px 0 0;
}  

.nav_button, .nav_button:visited {
    display: inline;
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 85px;
    text-decoration: none;
    color: #C10505;
    transition: ease 0.4s;
}

.nav_button:hover, .nav_button:active {
    background-color: #C10505;
    display: inline;
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 85px;
    text-decoration: none;
    color: #FFFFFF;
}


/* END HEADER STYLE */

/* START MAIN STYLE */

main{
    height: 100%;
}

#top_banner{
    width: 100%;
    height: 100%;
    background: url(../images/brooke-lark-229136-unsplash.jpg);
}

#top_banner_textbox{
    text-align: center;
    font-style:normal;
    margin: 0 auto;
    padding: 0;
    padding-top: 20%;
    width: 100%;
    height: 500px;    
}

#top_banner_textbox h1, #top_banner_textbox h4 {
    line-height: 5px;
    text-shadow: 2px 2px 8px #000000;
}

#top_banner_textbox h1 {
    word-break: keep-all;
    color: #ffffff;
    font-size: 5em;
}

#top_banner_textbox h4 {
    color: #EDC494;
    font-size: 1.8em;
    font-variant: small-caps;
}

#about {
    width: 100%;
    height: 100%;
    padding: 150px 0 0 0;
    background-image: url(../images/brooke-lark-500141-unsplash.jpg);
}

#about p {
    text-align: center;
    width: 60%;
    font-size: 1.5em;
    padding: 20px auto;
    margin: 0 auto;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0 0 0;
}

#reviews h2 {
    color: #444444;
    padding: 0 0 25px 0;
}

.img_frame {
    position: relative;
    float: left;
    width: 32%;
    height: 100%;
    margin: 5px auto;
    padding: 0;
}

.img_frame img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 99.3%;
    z-index: 2;
    transition-duration: 0.4s;
    opacity: 0;
}

.overlay:hover {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 99.3%;
    z-index: 2;
    background-color: rgba(0,0,0,0.50);
    opacity: 1;
}

.overlay h3, .overlay p, .review_text {
    padding: 0 15px;
    position: relative;
    top: 15%;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

.overlay h3 {
    font-size: 2em;
}

.overlay p {
    font-size: 1.2em;
}

.review_text {
    height: 50%;
    overflow-y: scroll
}

.review_text p {
    top: 0;
}

/* width */
.review_text::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.review_text::-webkit-scrollbar-track {
    opacity: 0; 
}
 
/* Handle */
.review_text::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3); 
}

/* Handle on hover */
.review_text::-webkit-scrollbar-thumb:hover {
    background: #888;
}



#contact {
    background-image: url(../images/pablo-merchan-montes-772134-unsplash.jpg);
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 2;
}

#contact h2 {
    color: #333333;
    margin: 0;
    padding: 150px 0 0 0;
}

#form_wrapper {
    width: 35%;
    margin: 25px auto 0 auto;
    padding: 35px 35px;
    background-color: rgba(0,0,0,0.50);
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
}

form input.text {
    margin: 15px auto;
    width: 100%;
    height: 25px;
    padding: 0 0 0 5px;
}

form textarea {
    margin: 15px auto;
    width: 100%;
    height: 25px;
    padding: 0 0 0 5px;
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    line-height: 25px;
}

form span {
    width: 25px;
    margin: 0;
    padding: 0;
}

form button {
    display: block;
    margin: 0px auto;
    margin-top: 25px;
    padding: 5px 25px;
    border-radius: 10px;
}

/* START FOOTER STYLE */

footer{
    position:fixed;
    z-index: 3;
    bottom: 0;
    height:6%;
    background:#fff;
}

#social_wrapper {
    text-align: center;
    margin: 0;
    padding: 0;
}

.social, .social:visited {
    height: auto;
    display: inline-block;
    padding: 10px 15px 0 15px;
    transition: linear 0.3s;
}

.social:hover {
    height: auto;
    display: inline-block;
    padding: 10px 15px 0 15px;
    transform: scale(1.1);
}

.social img {
    width: 75%;
}

#copyright {
    color: #999999;
    text-align: right;
    margin: -30px 0 0 0;
    padding: 0 8% 0 0;
}

/* END FOOTER STYLE */


/* COVER IMAGES */ 

#top_banner, #about, #contact {
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}